<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h2>Likes: <%= @post.likes %></h2>


<%= button_to "Like", like_post_path(@post), :method => :patch%>

<%= link_to @post.blogger.name, blogger_path(@post.blogger) %>


