<h1> <%= @destination.name %> </h1>

<h2> Location: <%= @destination.country %> </h2>

<h2>Last 5 Posts</h2>
<ul>
<% @destination.last_five_posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
<% end %>
</ul>

<h2>Featured Post:</h2>
<li><%= link_to @destination.featured_destination.title, post_path(@destination.featured_destination.id) %></li>

<h2>Average Age of Bloggers Who Wrote About <%= @destination.name %>.</h2>
<%= @destination.avg_age %>